body{
    background-color: #EEE
}

.hidden{
    display:none;
}

/* ----------- NAV -------------- */
.navbar-icon {
    height: 30px;
    width: auto;
}

.navbar-icon:hover {
    cursor: pointer;
    transition: 0.5s;
}

.padding-0 {
    padding-right: 0px;
    padding-left: 0px;
}

.row-padding-top {
    padding-top: 10px;
}

.navbar-padding {}

.navbar-padding>li {
    padding-right: 10px;
    padding-left: 10px;
}


/* ---------------- ITEMS ------------------ */
#items {
    height: 100vh;
}

.symbol-container {
    display: inline-block;
    width: 12.5%;
    padding: 10px;
    min-width: 120px;
}

.symbol-area {
    width: 100px;
    height: 120px;
    border-color: #D1D1D1;
    border-style: solid;
    border-radius: 10px;
    border-width: 0.5px;
    background-color: #FFF;
}

.symbol-area .symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 100%;
}

.symbol-area .key {
    border-width: 0.5px 0 0 0;
    border-style: solid;
    border-color: #D1D1D1;
    margin: 0 2px 0 2px;
    width: auto;
    height: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
}

.vcenter:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vcenter div .vcenter img {
    display: inline-block;
}

.search-bar {
    width: 250px;
    height: 35px;
    border-radius: 5px;
    background-color: white;
    border-style: none;
}

.search-bar input {
    display: inline-block;
    padding: 0 10px 0 10px;
    width: 215px;
}

.hoverx:hover {
    cursor:pointer;
}

/* Tooltip container */
.mtooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.mtooltip .mtooltiptext {
    visibility: hidden;
    width: 340px;
    opacity: 0.75;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -170px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mtooltip:hover .mtooltiptext {
    visibility: visible;
}

.mymodal {
    opacity: 0.75;
    display: none;
    width: 340px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: fixed;
    z-index: 2;
    top: 80px;
    left: 50%;
    margin-left: -170px;
}

.mymodal.show {
    display: block;
}

.mymodal-outer {
    opacity: 0.2;
    display: none;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

#about {
    margin-left: 0px;
}

.mymodal-outer.show {
    display: block;
}

@media (min-width: 800px) {
    .navbar-expand-custom {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-custom .navbar-nav .dropdown-menu-right {
        right: 0;
        left: auto;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-custom>.container,
    .navbar-expand-custom>.container-fluid {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-custom .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
    .navbar-expand-custom .dropup .dropdown-menu {
        top: auto;
        bottom: 100%;
    }

    #about {
        margin-left: 20px;
    }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    #snackbar.show {
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }


    /* ---------------- SNACK BAR ------------------- */
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}


/* ---------------- BLINK ------------------- */
.blink_me {
    border: dashed;
    border-width: 3px;
    border-color: chartreuse;
    animation: blinker 1s step-start infinite;
    padding-right: 5px;
}

@keyframes blinker {
    25% {
        border-color: red;
    }

    50% {
        border-color: cyan;
    }

    75% {
        border-color: hotpink;
    }
}

.popup {
    border-width: 1px;
    border-color: #111;
    border-style: dashed;
    display: none;
    top: 200px;
    left: 150px;
    width: 315px;
    height: 230px;
    padding: 10px;
    background-color: white;
    z-index: 1;
    position: fixed;
    border-radius: 6px;
}

.popup.show{
    display: inline-block;
}

.canvas-symbol {
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    border-radius: 6px;
    background-color: #FFF;
    width: 135px;
    height: 135px;
    display: inline-block;
    float: left;
}

.area-btn {
    width: 150px;
    height: 135px;
    display: inline-block;
    float: right;
}

.btn-symbol {
    margin-top: 5px;
    display: inline-block;
    width: 100%;
}

.dialog-tags {
    margin: 0 2px 0 2px;
    width: 100%;
    font-weight: 600;
    font-size: 13px;
    position: relative;
    top: 20px;
    float: left;
}