<!DOCTYPE html>
<html lang="en">
@{
    Layout = "";
}
<head>
    <meta name="description" content="About who made this website">
    @Html.Partial("_GG")
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About - Symbol Search</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Assets/css/mycss.css">
</head>
<body>
    <nav class="navbar navbar-expand-custom navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">SYMBOL SEARCH</a>
            <a class="navbar-brand" href="/Home/About">About</a>
        </div>
    </nav>

    <div class="container" style="margin-top:50px;text-align:center">
        <a href="https://www.uit.edu.vn/">
            <img src="https://www.uit.edu.vn/sites/vi/files/banner.png" />
        </a>
        <p style="font-size:large;font-weight: 600">
            <a href="http://se.uit.edu.vn/">KHOA CÔNG NGHỆ PHẦN MỀM</a>        
        </p>
        <br /><br />
        <p style="font-weight: 600">
            Đồ án: <strong>Symbol Search</strong><br />
            Môn: Công nghệ Phần mềm Chuyên sâu<br />
            Giảng viên hướng dẫn: ThS Phan Trung Hiếu<br />
        </p>
        <br />
        <p>
            Sinh viên thực thiện: nhóm 6 - SE214.I22<br />
            Mail: taigamathoi@gmail.com
        </p>
        <br />
        <p style="text-align:left">
            Mô tả: Website được xây dựng với mục đích tra cứu các ký tự thuộc một font bất kỳ, để nhanh chóng chèn vào văn bản. <br/>
            Rất có ích khi chúng ta soạn thảo văn bản, có nhu cầu chèn ký tự đặc biệt (symbol) vào nhưng sử dụng chức năng Insert > Symbols của trình soạn thảo văn bản thì phải kiếm lòi mắt. Website này được xây dựng để mọi người có thể tìm thấy chúng nhanh chóng, dễ dàng hơn.
            Website vẫn còn đang được hoàn thiện, mọi người có thể đóng góp ý kiến qua chức năng <b>Gửi phản hồi</b>.<br />
            Mong được mọi người ủng hộ. Xin cảm ơn!
        </p>
        <br />
        <p style="text-align:left">
            Về quyền sử dụng Cookie:<br />
            . Chúng tôi sử dụng cookie để lưu lại thông tin font lần cuối bạn truy cập. Khi bạn mở lại web, thông tin font này sẽ được sử dụng.<br />
            . (English) We use the cookie for storing the last font info that you has accessed. When you come back, the info (of the font) will be used.
        </p>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>

</body>
</html>